In [1]:
#Importing libraries
import numpy as np
import pandas as pd
import tensorflow as tf
import seaborn as sn
import math
import cv2
import os
import PIL
import pathlib

from tensorflow import keras
from sklearn.metrics import confusion_matrix , classification_report
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
#Importing and reading training dataset
df_train = pd.read_csv('train.csv')
df_train.sample(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
350,351,0,3,"Odahl, Mr. Nils Martin",male,23.0,0,0,7267,9.2250,NaN,S
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
74,75,1,3,"Bing, Mr. Lee",male,32.0,0,0,1601,56.4958,NaN,S
134,135,0,2,"Sobey, Mr. Samuel James Hayden",male,25.0,0,0,C.A. 29178,13.0000,NaN,S
279,280,1,3,"Abbott, Mrs. Stanton (Rosa Hunt)",female,35.0,1,1,C.A. 2673,20.2500,NaN,S
838,839,1,3,"Chip, Mr. Chang",male,32.0,0,0,1601,56.4958,NaN,S
698,699,0,1,"Thayer, Mr. John Borland",male,49.0,1,1,17421,110.8833,C68,C
502,503,0,3,"O'Sullivan, Miss. Bridget Mary",female,NaN,0,0,330909,7.6292,NaN,Q
627,628,1,1,"Longley, Miss. Gretchen Fiske",female,21.0,0,0,13502,77.9583,D9,S

In [3]:
#Importing and reading test dataset
df_test = pd.read_csv('test.csv')
df_test.sample(10)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
354,1246,3,"Dean, Miss. Elizabeth Gladys Millvina""""",female,0.17,1,2,C.A. 2315,20.5750,NaN,S
218,1110,1,"Widener, Mrs. George Dunton (Eleanor Elkins)",female,50.00,1,1,113503,211.5000,C80,C
38,930,3,"Sap, Mr. Julius",male,25.00,0,0,345768,9.5000,NaN,S
362,1254,2,"Ware, Mrs. John James (Florence Louise Long)",female,31.00,0,0,CA 31352,21.0000,NaN,S
348,1240,2,"Giles, Mr. Ralph",male,24.00,0,0,248726,13.5000,NaN,S
11,903,1,"Jones, Mr. Charles Cresson",male,46.00,0,0,694,26.0000,NaN,S
30,922,2,"Louch, Mr. Charles Alexander",male,50.00,1,0,SC/AH 3085,26.0000,NaN,S
378,1270,1,"Hipkins, Mr. William Edward",male,55.00,0,0,680,50.0000,C39,S
10,902,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,NaN,S
408,1300,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,NaN,Q

In [4]:
#Importing and reading sample solution framework
df_outex = pd.read_csv('gender_submission.csv')
df_outex.sample(10)

     PassengerId  Survived
111         1003         1
105          997         0
319         1211         0
247         1139         0
233         1125         0
187         1079         0
345         1237         1
336         1228         0
87           979         1
322         1214         0

In [5]:
#Checking datatypes of training set
df_train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [6]:
df_train.sample(21)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
450,451,0,2,"West, Mr. Edwy Arthur",male,36.00,1,2,C.A. 34651,27.7500,NaN,S
446,447,1,2,"Mellinger, Miss. Madeleine Violet",female,13.00,0,1,250644,19.5000,NaN,S
45,46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S
469,470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,NaN,C
510,511,1,3,"Daly, Mr. Eugene Patrick",male,29.00,0,0,382651,7.7500,NaN,Q
727,728,1,3,"Mannion, Miss. Margareth",female,NaN,0,0,36866,7.7375,NaN,Q
815,816,0,1,"Fry, Mr. Richard",male,NaN,0,0,112058,0.0000,B102,S
637,638,0,2,"Collyer, Mr. Harvey",male,31.00,1,1,C.A. 31921,26.2500,NaN,S
692,693,1,3,"Lam, Mr. Ali",male,NaN,0,0,1601,56.4958,NaN,S
696,697,0,3,"Kelly, Mr. James",male,44.00,0,0,363592,8.0500,NaN,S
137,138,0,1,"Futrelle, Mr. Jacques Heath",male,37.00,1,0,113803,53.1000,C123,S
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.00,0,1,PC 17759,63.3583,D10 D12,C
722,723,0,2,"Gillespie, Mr. William Henry",male,34.00,0,0,12233,13.0000,NaN,S
610,611,0,3,"Andersson, Mrs. Anders Johan (Alfrida Konstant...",female,39.00,1,5,347082,31.2750,NaN,S
378,379,0,3,"Betros, Mr. Tannous",male,20.00,0,0,2648,4.0125,NaN,C
393,394,1,1,"Newell, Miss. Marjorie",female,23.00,1,0,35273,113.2750,D36,C
276,277,0,3,"Lindblom, Miss. Augusta Charlotta",female,45.00,0,0,347073,7.7500,NaN,S
420,421,0,3,"Gheorgheff, Mr. Stanio",male,NaN,0,0,349254,7.8958,NaN,C
579,580,1,3,"Jussila, Mr. Eiriik",male,32.00,0,0,STON/O 2. 3101286,7.9250,NaN,S
93,94,0,3,"Dean, Mr. Bertram Frank",male,26.00,1,2,C.A. 2315,20.5750,NaN,S
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.00,1,0,28134,11.5000,NaN,S

In [7]:
#Mapping objects to int and filling the NaN values in training set
df_train['Sex'] = df_train['Sex'].map({'male': 1, 'female': 0})
df_train['Age'] = df_train['Age'].fillna(0)
df_train['Embarked'] = df_train['Embarked'].map({'S':1, 'C': 0})
df_train['Embarked'] = df_train['Embarked'].fillna(0.5)
df_train.sample(21)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
183,184,1,2,"Becker, Master. Richard F",1,1.0,2,1,230136,39.0000,F4,1.0
768,769,0,3,"Moran, Mr. Daniel J",1,0.0,1,0,371110,24.1500,NaN,0.5
847,848,0,3,"Markoff, Mr. Marin",1,35.0,0,0,349213,7.8958,NaN,0.0
324,325,0,3,"Sage, Mr. George John Jr",1,0.0,8,2,CA. 2343,69.5500,NaN,1.0
74,75,1,3,"Bing, Mr. Lee",1,32.0,0,0,1601,56.4958,NaN,1.0
388,389,0,3,"Sadlier, Mr. Matthew",1,0.0,0,0,367655,7.7292,NaN,0.5
325,326,1,1,"Young, Miss. Marie Grice",0,36.0,0,0,PC 17760,135.6333,C32,0.0
75,76,0,3,"Moen, Mr. Sigurd Hansen",1,25.0,0,0,348123,7.6500,F G73,1.0
706,707,1,2,"Kelly, Mrs. Florence ""Fannie""",0,45.0,0,0,223596,13.5000,NaN,1.0
531,532,0,3,"Toufik, Mr. Nakli",1,0.0,0,0,2641,7.2292,NaN,0.0
467,468,0,1,"Smart, Mr. John Montgomery",1,56.0,0,0,113792,26.5500,NaN,1.0
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",0,15.0,0,0,2667,7.2250,NaN,0.0
503,504,0,3,"Laitinen, Miss. Kristina Sofia",0,37.0,0,0,4135,9.5875,NaN,1.0
594,595,0,2,"Chapman, Mr. John Henry",1,37.0,1,0,SC/AH 29037,26.0000,NaN,1.0
407,408,1,2,"Richards, Master. William Rowe",1,3.0,1,1,29106,18.7500,NaN,1.0
205,206,0,3,"Strom, Miss. Telma Matilda",0,2.0,0,1,347054,10.4625,G6,1.0
146,147,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",1,27.0,0,0,350043,7.7958,NaN,1.0
775,776,0,3,"Myhrman, Mr. Pehr Fabian Oliver Malkolm",1,18.0,0,0,347078,7.7500,NaN,1.0
549,550,1,2,"Davies, Master. John Morgan Jr",1,8.0,1,1,C.A. 33112,36.7500,NaN,1.0
311,312,1,1,"Ryerson, Miss. Emily Borie",0,18.0,2,2,PC 17608,262.3750,B57 B59 B63 B66,0.0
482,483,0,3,"Rouse, Mr. Richard Henry",1,50.0,0,0,A/5 3594,8.0500,NaN,1.0

In [8]:
#Mapping objects to int and filling the NaN values in test set
df_test['Sex'] = df_test['Sex'].map({'male': 1, 'female': 0})
df_test['Age'] = df_test['Age'].fillna(0)
df_test['Embarked'] = df_test['Embarked'].map({'S':1, 'C': 0})
df_test['Embarked'] = df_test['Embarked'].fillna(0.5)
df_test.sample(21)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
318,1210,3,"Jonsson, Mr. Nils Hilding",1,27.0,0,0,350408,7.8542,NaN,1.0
17,909,3,"Assaf, Mr. Gerios",1,21.0,0,0,2692,7.2250,NaN,0.0
359,1251,3,"Lindell, Mrs. Edvard Bengtsson (Elin Gerda Per...",0,30.0,1,0,349910,15.5500,NaN,1.0
310,1202,3,"Cacic, Mr. Jego Grga",1,18.0,0,0,315091,8.6625,NaN,1.0
119,1011,2,"Chapman, Mrs. John Henry (Sara Elizabeth Lawry)",0,29.0,1,0,SC/AH 29037,26.0000,NaN,1.0
174,1066,3,"Asplund, Mr. Carl Oscar Vilhelm Gustafsson",1,40.0,1,5,347077,31.3875,NaN,1.0
327,1219,1,"Rosenshine, Mr. George (Mr George Thorne"")""",1,46.0,0,0,PC 17585,79.2000,NaN,0.0
82,974,1,"Case, Mr. Howard Brown",1,49.0,0,0,19924,26.0000,NaN,1.0
72,964,3,"Nieminen, Miss. Manta Josefina",0,29.0,0,0,3101297,7.9250,NaN,1.0
83,975,3,"Demetri, Mr. Marinko",1,0.0,0,0,349238,7.8958,NaN,1.0
198,1090,2,"Baimbrigge, Mr. Charles Robert",1,23.0,0,0,C.A. 31030,10.5000,NaN,1.0
11,903,1,"Jones, Mr. Charles Cresson",1,46.0,0,0,694,26.0000,NaN,1.0
38,930,3,"Sap, Mr. Julius",1,25.0,0,0,345768,9.5000,NaN,1.0
143,1035,2,"Beauchamp, Mr. Henry James",1,28.0,0,0,244358,26.0000,NaN,1.0
152,1044,3,"Storey, Mr. Thomas",1,60.5,0,0,3701,NaN,NaN,1.0
338,1230,2,"Denbury, Mr. Herbert",1,25.0,0,0,C.A. 31029,31.5000,NaN,1.0
7,899,2,"Caldwell, Mr. Albert Francis",1,26.0,1,1,248738,29.0000,NaN,1.0
394,1286,3,"Kink-Heilmann, Mr. Anton",1,29.0,3,1,315153,22.0250,NaN,1.0
284,1176,3,"Rosblom, Miss. Salli Helena",0,2.0,1,1,370129,20.2125,NaN,1.0
305,1197,1,"Crosby, Mrs. Edward Gifford (Catherine Elizabe...",0,64.0,1,1,112901,26.5500,B26,1.0
329,1221,2,"Enander, Mr. Ingvar",1,21.0,0,0,236854,13.0000,NaN,1.0

In [9]:
#Testing for correlation
Pclass = df_train['Pclass']
Survived = df_train['Survived']
r = np.corrcoef(Pclass, Survived)[0, 1]
r

-0.3384810359610147

In [10]:
#Testing for correlation
Sex = df_train['Sex']
Survived = df_train['Survived']
r = np.corrcoef(Sex, Survived)[0, 1]
r

-0.5433513806577551

In [11]:
#Testing for correlation
Age = df_train['Age']
Survived = df_train['Survived']
r = np.corrcoef(Age, Survived)[0, 1]
r

0.010539215871285656

In [12]:
#Testing for correlation
SibSp = df_train['SibSp']
Survived = df_train['Survived']
r = np.corrcoef(SibSp, Survived)[0, 1]
r

-0.03532249888573558

In [13]:
#Testing for correlation
Parch = df_train['Parch']
Survived = df_train['Survived']
r = np.corrcoef(Parch, Survived)[0, 1]
r

0.08162940708348365

In [14]:
#Testing for correlation
Embarked = df_train['Embarked']
Survived = df_train['Survived']
r = np.corrcoef(Embarked, Survived)[0, 1]
r

-0.17124874580816557

In [15]:
#Scaling the required columns in training set
cols_to_scale = ['Pclass', 'SibSp', 'Parch']

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_train[cols_to_scale] = scaler.fit_transform(df_train[cols_to_scale])

In [16]:
#Scaling the required columns in test set
cols_to_scale = ['Pclass', 'SibSp', 'Parch']

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_test[cols_to_scale] = scaler.fit_transform(df_test[cols_to_scale])

In [17]:
#Defining training and test sets
y_train = df_train["Survived"]

features = ["Pclass", "Embarked", "Sex", "Parch"]
x_train = df_train[features]
x_test = df_test[features]

In [19]:
x_train.sample(21)

     Pclass  Embarked  Sex     Parch
748     0.0       1.0    1  0.000000
568     1.0       0.0    1  0.000000
690     0.0       1.0    1  0.000000
397     0.5       1.0    1  0.000000
653     1.0       0.5    0  0.000000
551     0.5       1.0    1  0.000000
556     0.0       0.0    0  0.000000
586     0.5       1.0    1  0.000000
191     0.5       1.0    1  0.000000
223     1.0       1.0    1  0.000000
76      1.0       1.0    1  0.000000
149     0.5       1.0    1  0.000000
54      0.0       0.0    1  0.166667
114     1.0       0.0    0  0.000000
469     1.0       0.0    0  0.166667
474     1.0       1.0    0  0.000000
243     1.0       1.0    1  0.000000
274     1.0       0.5    0  0.000000
517     1.0       0.5    1  0.000000
194     0.0       0.0    0  0.000000
772     0.5       1.0    0  0.000000

In [21]:
#Defining ANN Model
def ANN(x_train, y_train, x_test, loss, weights):
    model = keras.Sequential([
        keras.layers.Dense(100,input_shape=(4,), activation='relu'),
        keras.layers.Dense(15, activation='relu'),
        keras.layers.Dense(1, activation='sigmoid') #SIGMOID FOR BINARY CLASSIFICATION AND SOFTMAX FOR MULTICLASS CLASSIFICATION
    ])

    model.compile(optimizer='adam', loss=loss, metrics=['accuracy'])
    
    if weights == -1:
        model.fit(x_train, y_train, epochs=100)
    else:
        model.fit(x_train, y_train, epochs=100, class_weight = weights)
    
    y_preds = model.predict(x_test)
    y_preds = np.round(y_preds)
    
    return y_preds

In [22]:
y_preds = ANN(x_train, y_train, x_test, 'binary_crossentropy', -1)

Epoch 1/100
28/28 [==============================] - 2s 4ms/step - loss: 0.6088 - accuracy: 0.6195
Epoch 2/100
28/28 [==============================] - 0s 3ms/step - loss: 0.5614 - accuracy: 0.7160
Epoch 3/100
28/28 [==============================] - 0s 3ms/step - loss: 0.5271 - accuracy: 0.7688
Epoch 4/100
28/28 [==============================] - 0s 3ms/step - loss: 0.5036 - accuracy: 0.7856
Epoch 5/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4916 - accuracy: 0.7868
Epoch 6/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4816 - accuracy: 0.7868
Epoch 7/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4745 - accuracy: 0.7868
Epoch 8/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4679 - accuracy: 0.7856
Epoch 9/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4645 - accuracy: 0.7924
Epoch 10/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4608 - accuracy: 0.7879
Epoch 11/100
28/28 [==============================] - 0s 4ms/step - loss: 0.4577 - accuracy: 0.8025
Epoch 12/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4571 - accuracy: 0.7912
Epoch 13/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4555 - accuracy: 0.7912
Epoch 14/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4548 - accuracy: 0.7935
Epoch 15/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4545 - accuracy: 0.7980
Epoch 16/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4503 - accuracy: 0.8070
Epoch 17/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4503 - accuracy: 0.8025
Epoch 18/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4500 - accuracy: 0.8036
Epoch 19/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4476 - accuracy: 0.8002
Epoch 20/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4447 - accuracy: 0.8092
Epoch 21/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4447 - accuracy: 0.8070
Epoch 22/100
28/28 [==============================] - 0s 4ms/step - loss: 0.4441 - accuracy: 0.8070
Epoch 23/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4445 - accuracy: 0.8070
Epoch 24/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4427 - accuracy: 0.8070
Epoch 25/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4439 - accuracy: 0.8081
Epoch 26/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4426 - accuracy: 0.8114
Epoch 27/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4415 - accuracy: 0.8114
Epoch 28/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4405 - accuracy: 0.8148
Epoch 29/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4451 - accuracy: 0.8081
Epoch 30/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4420 - accuracy: 0.8036
Epoch 31/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4412 - accuracy: 0.8114
Epoch 32/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4388 - accuracy: 0.8058
Epoch 33/100
28/28 [==============================] - 0s 4ms/step - loss: 0.4394 - accuracy: 0.8148
Epoch 34/100
28/28 [==============================] - 0s 4ms/step - loss: 0.4386 - accuracy: 0.8092
Epoch 35/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4400 - accuracy: 0.8126
Epoch 36/100
28/28 [==============================] - 0s 4ms/step - loss: 0.4377 - accuracy: 0.8092
Epoch 37/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4396 - accuracy: 0.8126
Epoch 38/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4380 - accuracy: 0.8092
Epoch 39/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4387 - accuracy: 0.8126
Epoch 40/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4375 - accuracy: 0.8103
Epoch 41/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4356 - accuracy: 0.8148
Epoch 42/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4497 - accuracy: 0.8047
Epoch 43/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4366 - accuracy: 0.8114
Epoch 44/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4360 - accuracy: 0.8103
Epoch 45/100
28/28 [==============================] - 0s 4ms/step - loss: 0.4384 - accuracy: 0.8114
Epoch 46/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4377 - accuracy: 0.8137
Epoch 47/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4373 - accuracy: 0.8103
Epoch 48/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4377 - accuracy: 0.8047
Epoch 49/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4374 - accuracy: 0.8114
Epoch 50/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4386 - accuracy: 0.8137
Epoch 51/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4381 - accuracy: 0.8058
Epoch 52/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4363 - accuracy: 0.8148
Epoch 53/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4353 - accuracy: 0.8103
Epoch 54/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4355 - accuracy: 0.8103
Epoch 55/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4352 - accuracy: 0.8137
Epoch 56/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4376 - accuracy: 0.8058
Epoch 57/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4351 - accuracy: 0.8126
Epoch 58/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4343 - accuracy: 0.8070
Epoch 59/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4354 - accuracy: 0.8171
Epoch 60/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4345 - accuracy: 0.8137
Epoch 61/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4376 - accuracy: 0.8013
Epoch 62/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4349 - accuracy: 0.8137
Epoch 63/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4367 - accuracy: 0.8103
Epoch 64/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4341 - accuracy: 0.8058
Epoch 65/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4341 - accuracy: 0.8148
Epoch 66/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4342 - accuracy: 0.8081
Epoch 67/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4344 - accuracy: 0.8159
Epoch 68/100
28/28 [==============================] - 0s 4ms/step - loss: 0.4347 - accuracy: 0.8137
Epoch 69/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4339 - accuracy: 0.8092
Epoch 70/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4359 - accuracy: 0.8137
Epoch 71/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4373 - accuracy: 0.8103
Epoch 72/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4374 - accuracy: 0.8137
Epoch 73/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4349 - accuracy: 0.8081
Epoch 74/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4375 - accuracy: 0.8148
Epoch 75/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4331 - accuracy: 0.8092
Epoch 76/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4339 - accuracy: 0.8114
Epoch 77/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4344 - accuracy: 0.8092
Epoch 78/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4348 - accuracy: 0.8114
Epoch 79/100
28/28 [==============================] - 0s 4ms/step - loss: 0.4326 - accuracy: 0.8058
Epoch 80/100
28/28 [==============================] - 0s 4ms/step - loss: 0.4328 - accuracy: 0.8126
Epoch 81/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4343 - accuracy: 0.8058
Epoch 82/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4346 - accuracy: 0.8137
Epoch 83/100

28/28 [==============================] - 0s 3ms/step - loss: 0.4331 - accuracy: 0.8092
Epoch 84/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4339 - accuracy: 0.8148
Epoch 85/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4391 - accuracy: 0.8103
Epoch 86/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4340 - accuracy: 0.8103
Epoch 87/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4333 - accuracy: 0.8103
Epoch 88/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4333 - accuracy: 0.8114
Epoch 89/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4346 - accuracy: 0.8070
Epoch 90/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4355 - accuracy: 0.8137
Epoch 91/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4346 - accuracy: 0.8148
Epoch 92/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4340 - accuracy: 0.8126
Epoch 93/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4318 - accuracy: 0.8114
Epoch 94/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4340 - accuracy: 0.8159
Epoch 95/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4363 - accuracy: 0.8114
Epoch 96/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4353 - accuracy: 0.8137
Epoch 97/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4325 - accuracy: 0.8092
Epoch 98/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4311 - accuracy: 0.8070
Epoch 99/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4344 - accuracy: 0.8081
Epoch 100/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4311 - accuracy: 0.8148
14/14 [==============================] - 0s 3ms/step

In [34]:
#Converting float output to int
def float_to_int(float_number):
  
  return int(float_number)

y_preds_int = list(map(float_to_int, y_preds))

y_preds_int

[0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0]

In [35]:
#Converting the output to desired csv
output = pd.DataFrame({'PassengerId': df_test.PassengerId, 'Survived': y_preds_int})
output.to_csv('titanic_ml_from_disaster_final.csv', index=False)

In [36]:
#Importing and reading the output dataset
df = pd.read_csv('titanic_ml_from_disaster_final.csv')
df.sample(25)

     PassengerId  Survived
10           902         0
33           925         0
377         1269         0
297         1189         0
100          992         1
228         1120         0
61           953         0
329         1221         0
220         1112         1
157         1049         0
325         1217         0
52           944         1
74           966         1
169         1061         0
374         1266         1
224         1116         1
181         1073         0
403         1295         0
178         1070         1
123         1015         0
272         1164         1
40           932         0
125         1017         0
322         1214         0
137         1029         0